{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="about-us-header">Добро пожаловать!</h2>
        <hr>
        <div class="about-us-text">
        Добро пожаловать в наш магазин цифровой техники! Мы являемся ведущим поставщиком инновационных гаджетов и электроники, предлагая ассортимент продукции для удовлетворения ваших потребностей в современных технологиях.
Наш магазин предлагает самые последние модели смартфонов, планшетов, ноутбуков, видеотехники, фотоаппаратов и многого другого. Мы тщательно отбираем только лучшие бренды и продукты, чтобы предоставить вам максимальное качество и надежность.
            <p></p>Наша цель - обеспечить вас удовлетворенностью от покупки и предоставить непревзойденный уровень обслуживания.
Мы понимаем, что технологии постоянно меняются, поэтому мы постоянно обновляем наш ассортимент, чтобы предложить вам новые и захватывающие возможности. Независимо от того, нужен вам смартфон последнего поколения, мощный ноутбук для работы или прекрасный подарок для близкого человека, у нас вы найдете то, что вам нужно.
            <p></p>
            Помимо прочего в нашем онлайн-магазине есть чат-бот на основе искусственного интеллекта "Умный консультант", который поможет вам выбрать интересующий вас товар.
            <h4 class="about-us-footer"> Желаем приятных покупок!</h4>
            <p class="about-us-contact">Тел. 8-800-555-35-35</p>
            <p>Проспект Большевиков, 22, корп.1</p>
</div>
    </div>
</div>
{% endblock %}
