{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="password-reset-confirm-header">Подтверждение сброса пароля</h2>
    <hr>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}"></label>
      {{ form.new_password1 }}
    </div>
    <p></p>
    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}"></label>
      {{ form.new_password2 }}
    </div>
    <p></p>
    <button type="submit" class="password-reset-complete-button">Сбросить</button>
  </form>
  <script>
    document.getElementById("{{ form.new_password1.id_for_label }}").placeholder = "Введите новый пароль";
    document.getElementById("{{ form.new_password2.id_for_label }}").placeholder = "Повторите пароль";
  </script>
  </div>
</div>
{% endblock %}
