{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
  <h2 class="password-reset-header">Восстановление пароля</h2>
  <hr>
    <p></p>
  <form action="{% url 'password_reset' %}" method="post">
    {{ form }}
    {% csrf_token %}
    <button type="submit" class="password-reset-button">Отправить</button>
  </form>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  </div>
{% endblock %}




















