{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
      <h2 class="password-reset-done-header">Сброс пароля</h2>
<hr>
  <p class="password-reset-done-text">Мы отправили вам инструкции по сбросу пароля по электронной почте. Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, который вы указали при регистрации, и проверьте папку со спамом.</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
  </div>
</div>
    {% endblock %}
